
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadRequest</title>
</head>
<body style="text-align:center">
    <h1>BadRequest</h1>
    <h4><a href="/">Geri dön</a></h4>
</body>
</html>
