@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Anasayfa</h1>
    <br />
    <a class="btn btn-dark" href="/User/Login">Giriş Yap</a>
    <a class="btn btn-success" href="/User/Register">Kayıt ol</a>
    <a class="btn btn-info" href="/Books">Kitaplarım</a>
</div>
